table {
  border-collapse: collapse;
  border: 1px solid #7f7f7f;
  font-size: 24px;
  margin: 0 auto;
}

table tr,
td,
th {
  border: 1px solid #7f7f7f;
}

table td,
th {
  padding: 10px;
}

table th {
  text-transform: uppercase;
}

.header {
  font-family: Georgia;
  text-align: center;
  margin-top: 50px;
}

td:hover,
th:hover {
  background-color: #8a059e;
  color: white;
  border: 1px solid #d965eb;
}
